* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
body {
  background: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.container .number {
  font-size: 6rem;
}

.btns-container {
  width: 40rem;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.increment {
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 2rem;
  background: #141517;
  color: #fff;
  cursor: pointer;
} */

/* project 2 css- todo */
/* body {
  background: #f5f9eb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fcfff3;
  padding: 50px;
}

input {
  padding: 15px;
  border: none;
  outline: none;
  background: #f5f9eb;
  width: 300px;
  margin-right: 10px;
}

button {
  border-radius: 100px;
  background: #454545;
  padding: 5px;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.todos-list {
  margin-top: 3rem;
}

.todo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f9eb;
  padding: 7px 20px;
  margin: 10px;
  font-family: sans-serif;
}

.close {
  padding: 5px 10px;
  cursor: pointer;
} */


/* Project 2 meel API project */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.card {
  background: rgb(255, 249, 249);
  font-size: 12px;
  color: rgb(68, 68, 68);
  margin: 10px;
  padding: 30px;
  transition: 1s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.content {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  margin-top: 20px;
}

p {
  font-weight: bold;
}

img {
  border-radius: 5px;
  height: 200px;
  width: 300px;
} */

/* project 3 calculator */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1b1b1b;
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
}

.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  background: #292929;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
}

.calculator span:active {
  background: rgb(255, 163, 26);
  color: #fff;
}

.calculator span.clear {
  grid-column: span 2;
  width: 120px;
  background: rgb(255, 163, 26);
  color: #fff;
}

.calculator span.plus {
  grid-row: span 2;
  height: 120px;
}

.calculator span.equal {
  background: rgb(255, 163, 26);
  /* background: #03b1ff; */
/* }  */

/* 
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background: transparent;
  cursor: pointer;
}

section.content h1 {
  font-size: 5rem;
  font-family: "Bungee Outline", cursive;
  line-height: 80px;
} */

/* project 6 - hidden search Bar */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.7s ease;
}

button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background: transparent;
  cursor: pointer;
}

input {
  padding: 13px 12px;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 1px rgb(35, 35, 35);
} */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8faff;
}

.testimonials {
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f0fdfe;
}

.testimonials-quote {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 10px;
  color: #666;
}

.testimonials-author {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.testimonials-nav {
  display: flex;
  justify-content: space-between;
}

.testimonials-nav button {
  padding: 10px 20px;
  border: none;
  background-color: #82e5ee;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.testimonials-nav button:hover {
  background-color: #037680;
}

.testimonials-nav button:active {
  transform: scale(0.95);
}